@using Microsoft.AspNetCore.Identity
@using InteriorShoppe.Models

@inject SignInManager<ApplicationUser> SignInManager
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1 class="bannerHeading">
            Interior Shoppe
        </h1>
    </header>
    <div class="navBar">
        <h2><a href="@Url.Action("Index", "Home")">Home</a></h2>
        <h2><a href="@Url.Action("Index", "Shop")">All Products</a></h2>
        <h2>Living</h2>
        <h2>Dining</h2>
        <h2>Bedroom</h2>
        <h2>Lighting</h2>
        <h2><a href="@Url.Action("Index", "DormRoom")">Dorm Room</a></h2>
        <h2>Seasonal</h2>
        <h2>Clearance</h2>
        @if (SignInManager.IsSignedIn(User))
        {
        <h2>
            Welcome, @User.Claims.First(name => name.Type == "FullName").Value
        </h2>
            <form asp-action="Logout" asp-controller="Account" method="post">
                <button type="submit">Logout</button>
            </form>
        }
        else
        {
            <form asp-action="Login" asp-controller="Account" method="get">
                <button type="submit">Login</button>
            </form>

            <form asp-action="Register" asp-controller="Account" method="get">
                <button type="submit">Register</button>
            </form>
        }
    </div>
    @RenderBody()
</body>
</html>
