@model InteriorShoppe.Models.Furniture

@{
    Layout = "_Layout";    
    ViewData["Title"] = "Details";
}

<div class="card">


    <h2>Details</h2>

    <div>
        <h4>Furniture</h4>
        <hr />
        <div class="details-furniture-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.RoomCollection)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RoomCollection)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.TypeCollection)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TypeCollection)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SKU)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SKU)
                </dd>
            </dl>
            <image class="image-tile-large" src="@Html.DisplayFor(model => model.Image)"></image>
        </div>
        <a asp-controller="Baskets" asp-action="AddToBasket" asp-route-id="@Model.ID">Add to Basket</a>

    </div>
    <div>
        @*<a asp-action="Edit" asp-route-id="@Model.ID">Edit</a>*@ |
        <a asp-action="Index">Back to All Products</a>
    </div>
</div>