@model IEnumerable<InteriorShoppe.Models.ViewModels.BasketViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Furniture.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Furniture.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Furniture.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Furniture.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BasketID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BasketID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BasketID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
